# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# macOS
.DS_Store

# Logs
*.log
logs/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Others
tmp/
*.swp
*.bak